if SHIELD_CHOCURV_LEFT

config ZMK_KEYBOARD_NAME
    default "chocurv"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CHOCURV_LEFT || SHIELD_CHOCURV_RIGHT

config ZMK_SPLIT
    default y

endif
